@model CollegeScorecard.Models.Schools

    @{
        ViewData["Title"] = "Colleges List";
    }

    <h1>List of Public Colleges - Florida and Georgia</h1>    
    <hr />

    <table>
        <thead>
            <tr>
                <th>
                    <u>School ID</u>
                </th>
                <th>
                    <u>School Name</u>
                </th>
                <th>
                    <u>City</u>
                </th>
                <th>
                    <u>State</u>
                </th>
                <th>
                    <u>Website URL</u>
                </th>
                <th>
                    <u>Highest Degree Awarded</u>
                </th>
                <th>
                    <u>Main Campus</u>
                </th>
                <th>
                    <u>Branches</u>
                </th>
                <th>
                    <u>Online Only</u>
                </th>
            </tr>
        </thead>

        @if (Model.results != null)
        {
            <tbody>

                @foreach (var item in Model.results)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.id)
                        </td>

                        <td>
                            <a href='@Url.Action("CollegeScorecard","Home")?id=@item.id'>@item.schoolname</a>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.schoolcity)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.schoolstate)
                        </td>
                        <td>
                            <a href="http://@item.schoolschool_url" target="_blank">
                                @Html.DisplayFor(modelItem => item.schoolschool_url)
                            </a>
                        </td>
                        <td>
                            @if (item.schooldegrees_awardedhighest == 4)
                            {
                                <text>Graduate degree</text>
                            }
                            else if (item.schooldegrees_awardedhighest == 3)
                            {
                                <text>Bachelor's degree</text>
                            }
                            else if (item.schooldegrees_awardedhighest == 2)
                            {
                                <text>Associate degree</text>
                            }
                            else if (item.schooldegrees_awardedhighest == 1)
                            {
                                <text>Certificate degree</text>
                            }
                            else
                            {
                                <text>Non-degree-granting</text>
                            }
                        </td>
                        <td>
                            @if (item.schoolmain_campus == 1)
                            {
                                <text>Yes</text>
                            }
                            else
                            {
                                <text>No</text>
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.schoolbranches)
                        </td>
                        <td>
                            @if (item.schoolonline_only == 1)
                            {
                                <text>Online Only</text>
                            }
                            else
                            {
                                <text>No</text>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        }

    </table>   